<div class="container">
  <p>Hi, I'm Zolangi. I recently graduated with a B.S. in Computer Science from California State University, Los Angeles. I am currently seeking for a job as a web developer.</p>
  <br>
  <p>Some programming languages that I am familiar with are:</p>
    <ul style="text-indent: 5%">
      <li>Java</li> <li>JavaScript</li> <li>CSS</li><li>mySQL</li><li>Python</li>
    </ul>
  <br>
  <p>I have also have a basic understanding of the following languages:</p>
  <ul style="text-indent: 5%">C++</ul>
  <br>
  <p>Libraries and Frameworks that I have worked with are:</p>
     <ul style="text-indent: 5%">
       <li>Numpy</li><li>Pandas</li><li>Django</li><li>Angular</li> 
     </ul> 

</div>
