<nav class="bd-tabs">
<div class="tabs">
  <ul>
    <li>Past Projects</li>
    <li>Current Projects</li>
  </ul>
</div>
</nav>
<h3 class="title">{{ project.name | uppercase }}</h3>
  <p>Description:</p>
    <ul>
      <li>
         {{ project.description }}
      </li>
    </ul>
  <br>
  <p>Purpose:</p>
    <ul>
        <li>{{ project.purpose }}</li>
    </ul>
    <br>
  <p>Hardware:</p>
    <ul>
        <li>{{ project.hardware }}</li>
    </ul>
  <br>
  <p>Software:</p>
    <ul>
      <li>
          {{ project.software }}
      </li>
    </ul>
  

