<nav class="bd-tabs">
<div class="tabs">
  <ul>
    <li>Past Projects</li>
    <li>Current Projects</li>
  </ul>
</div>
</nav>

<ul class="projects">
  <li *ngFor = "let project of projects"
  [class.selected]="project === selectedProject"
  (click)="onSelect(project)">
    {{project.name}}
  </li>
</ul>

<div *ngIf="selectedProject">
  <h3><strong>{{selectedProject.name | uppercase}}</strong></h3>
  <strong>Description:</strong>
  <ul>
      <li>
         {{ selectedProject.description }}
      </li>
    </ul>
    <br>
    <strong>Purpose:</strong>
    <ul>
        <li>
           {{ selectedProject.purpose }}
        </li>
      </ul>
  <br>
<strong>Hardware:</strong>
  <ul>
      <li>{{ selectedProject.hardware }}</li>
  </ul>
<br>
<strong>Software:</strong>
  <ul>
    <li>
        {{ selectedProject.software }}
    </li> 
  </ul>
  <br>
<a href="{{ selectedProject.link }}">Link</a>

</div>