<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>

<body>
  <app-nav></app-nav>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
      <div class="columns">
          <div class="column is-three-quarters content has-text-centered"><p>
              <strong>Portfolio</strong> by Zolangi Ramirez.
            </p></div>
          <div class="column"><p><strong>Links</strong></p>
            <ul>
              <li><a href="https://www.linkedin.com/in/zolangiramirez">LinkedIn</a></li>
              <li><a href="https://github.com/zolangi">Github</a></li>
            </ul>
          </div>
        </div>
    </footer>
</body>

</html>